.gallerywrapper{
	width:100%;
	background-color: white;
}
.gallerywrapper .heading {
	 max-width: 1000px;
	 margin: 0 auto;
	 width: 100%;
	 overflow: auto;
	 font-size: 20px;
}
.gallerywrapper .items{
	overflow: auto;
    width: 1000px;
    margin: 10px auto;
    position: relative
}

.gallerywrapper .items .columns img{
	width:90%;

}
 .gallerywrapper .items .columns img:hover{
 	box-shadow:  3px 3px 3px 3px #888888;
 }

.gallerywrapper .columns{
	width: 25%;
    float: left;
    height: 100%;
    /* padding: 20px 40px; */
    /* text-align: center; */
    padding-left: 0;
    padding-top: 20px;
}

.wishing{
	background-color: #E8EBF1;
	height:200px;
	margin-top: -31px;
	padding-top: 46px;
}
.wrapper{width: 25%;
	margin:auto;

}
section .wishing p{
	text-align: center;
	font-size: 17px;
	color: #565656;
	/* width: 25%; */
	margin: auto;
	/*position: relative;
	top: 60px;*/
}
section .wishing h4 {
	text-align: left;
	font-size: 20px;
	font-style: italic;
/*	position: absolute;
	left: 510px;
*/}

section .wishing h5{
	font-size: 16px;
	font-style: italic;
	text-align: right;
	/*position: absolute;
	left: 702px;*/
	/* top: 1px; */
}


footer .footer-inner .columns ul li {
	list-style-type: none;
	color: #ddd;
	font-size: 13px;
	line-height:1.5em;
}   
footer .footer-inner .columns  p {
	margin-top:0px;
	color:#ddd;
	font-size: 13px;
	line-height:1.5em;
}

footer .footer-inner .columns ul a:hover {
    text-decoration: underline;
    color:#fff;
}


 footer .footer-inner .columns ul{
 	/* margin-left:7.9em; */
 	padding-left: 0;
    margin: 0.5em 0;
  
 }

footer .footer-inner .columns ul a{
	text-decoration:none;

}

footer{
	 background-color: #3B3B3B;
	 width: 100%;
	 overflow: auto;
}

footer .footer-inner {
   
width: 1000px;
   
height: 200px;
   
margin: 0 auto;
   
/* background-color: #463E3F; */
}

footer .footer-inner .columns  span {
	font-weight: bold;
	color:white;
	display:block;
	padding:5px 0px;
}
footer .footer-inner .columns  {
    width: 25%;
    float: left;
    height: 100%;
    /* padding: 20px 40px; */
    /* text-align: center; */
    padding-left: 0;
    padding-top: 20px;
}

body{
	margin: auto;
    max-width: 1500px;

	 min-width: 1340px;
}
.shift-right {
 font-family:'Open Sans', sans-serif; 
	
}
body{
	font-family:'Open Sans', sans-serif;
}

header section{
	    margin: auto;
	    max-width: 1500px;
	    min-width: 1340px;
	    overflow: auto;
}
.top-header-bar{
/*	position: fixed;*/
	z-index: 5px;
	margin: auto;
	max-width: 1500px;
	min-width: 1340px;
	margin-top: -8px;
	background-color:#e8ebf1;
	width:100%;
	height:83px;
}
.shift-right{
	    /* display: table-caption; */
	    /* clear: both; */
	    float: right;
	        
	    margin-top: -3px;
	   
}			
.logo{
	float: left;

}
.background-image{
	/* margin-left: auto; */
	/* max-width: 1500px; */
	margin-top: -15px;
	width: 100%;
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background-color:#e8ebf1; 
	padding: 0 20px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #000;
		/*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
	}
		nav ul li:hover a {
			color: #fff;
	
		}
	
	nav ul li a {
		display: block; padding: 25px 40px;
		color:black; text-decoration: none;
	}

nav ul ul {
	background: #0068AC; border-radius:2px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
/* 		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a; */
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
			font-size:12px;
		}	
			nav ul ul li a:hover {
				background: #000000;
			}			